extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Thu Yein

        p Full Stack JavaScript Developer

        .about-bio

          p Thinking, calculating, problem solving. They are just a few aspects of coding. Growing up playing video games, getting stuck on a section of code is reminiscent to a level or mission in a game that you just can't accomplish. My ego will refuse to let me look at a guide or ask for help until I can solve it on my own. Which brings me back to coding, there are always gonna some road blocks or challenging situations. I think that is one of the reasons I enjoy it, with every challenge that comes, there are many ways to work around it. Because of these many obastacles you will face, the result, in coding terms an app, a business website, or whatevery it may be, will be worth the reward.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Creating custom APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 555-555-1234
          li email@email.com

        a.btn-link(href='https://www.linkedin.com/', target='_blank') LinkedIn
        a.btn-link(href='https://github.com/YeinThu', target='_blank') GitHub
        a.btn-link(href='https://twitter.com/?lang=en', target='_blank') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back